body {
    position: absolute;
    left: 200px;
    background-color: #000000;
}

h1 {
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px;
}

textarea {
    padding: 5px;
    font-size: 16px;
    width: 250px;
    margin-left: 0;
    margin-right: 10px;
}

button {
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #980002;
    border: 0;
    border-radius: 10px;
}

#result {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}