body {
    position: absolute;
    left: 30%;
    background-color: #000000;
    color: #fff;
    font-size: 20px;
}

label {
    margin-right: 10px;
}
select {
    padding: 5px;
}
button {
    padding: 10px 20px;
    background-color: #980002;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
}