body {
    position: absolute;
    left: 200px;
    background-color: #000;
}
h1 {
    color: #fff;
    font-weight: 100;
}
input {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
}
button {
    background-color: #980002;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
p {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}