body {
    background-color:#d72a7d;
}
.form-group { 
    width: 100%;
	max-width:1200px;
	position:absolute;

}
.tetx1 { 
	position:absolute;
	color:rgba(255, 255, 255, 1);
	left:200px;
	top:40px;
	font-size:32px;
}
.form { 
	width:806px;
	height:53px;
	position:absolute;
	left:200px;
	top:109px;
	display: flex;
	flex-wrap: wrap;
}
button { 
	background-color:#000000;
	width:110px;
	height:35px;
	position:absolute;
	left:696px;
	border-radius:24px;
	color:#ffffff;
	font-size:14px;
}

.text2 { 
	color:#ffffff;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}

.input {
	position: absolute;
	left: 300px;
	width: 200px;
	height: 25px;
	border:1px solid #545f71;
}
p {
	position: absolute;
	top: 50px;
	color: #ffffff;
	font-size: 20px;
}