body {
    position: absolute;
    left: 200px;
    background-color: #000000;
}
h1, label {
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px;
}

input, textarea {
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

button {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #980002;
    border: 0;
    border-radius: 10px;
}

#result {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}
