body {
    position: absolute;
    left: 200px;
    background-color: #000000;
}

h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}

button {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #980002;
    border: 0;
    border-radius: 10px;
}

#output, #input {
    color: #000000;
    margin-top: 20px;
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}
