div {
    padding: 50px;
  }
  button {
    margin-top: 10px;
    gap: 28px;
    width: 300px;
    height: 50px;
    display: flex;
    padding: 12px 10px;
    align-items: center;
    flex-shrink: 0;
    border-style: solid 2px  rgba(255, 255, 255, 1);
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(83, 0, 192);
    color: #fff;
    font-size: 18px;
  }
  .content {
    height: 300px;
  }
  .text-input {
    gap: 15px;
    width: 300px;
    height: 30px;
    color: rgba(154, 165, 182, 1);
    padding: 12px;
    font-size: 20px;
    border: solid 1px rgba(84, 95, 112, 1);
    border-radius: 6px;
  }
  .text-result {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    text-align: left;
    font-size: 20px;
  }
  