body {
    position: absolute;
    left: 200px;
    background-color: #000000;
}
h1 {
    color: #ffffff;
    font-weight: 100;
}
input {
    padding: 10px;
}
button {
    padding: 10px 20px;
    background-color: #980002;
    color: #fff;
    border: none;
    border-radius: 10px;
}

p {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
}
