body {
    position: absolute;
    left: 200px;
    background-color: #000000;
}

h1 {
    color: #fff;
    font-weight: 100;
}

div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}
.text {
    color: #fff;
    font-weight: 100;
    margin-right: 20px;
}
input {
    padding: 5px;
}

button {
    padding: 10px 15px;
    background-color: #980002;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

canvas {
    border: 1px solid #ccc;
}