body {
    position: absolute;
    left: 100px;
    background-color: #7013da;
    color: #ffff;
}

h1 {
    font-weight: 100;
}
input {
    height: 25px;
    font-size: 20px;
}
button {
    margin-top: 20px;
    padding: 7px 15px;
    border: 0;
    color: #000000;
}
.result {
    font-weight: 600;
    font-size: 30px;
}